# Declare model trainer type, current options: cnn, wgan
trainer: wgan
resume_from_checkpoint: null

hyperparameters:
  # Adam Optimizer
  learning_rate: 0.00025
  b1: 0.9
  b2: 0.99
  gp_lambda: 10
  alpha: 500.0
  n_critic: 5
  max_epochs: 201
  noise_injection: True
  batch_size: 16
  n_realisations: 4

tracking:
  # set COMET_API_KEY environment variable for online mode
  project_name: new-precip
  workspace: nadiyashore
  save_dir: ${oc.env:OUTPUT_COMET_ZIP}
  experiment_name: pr_2009-2014_myGAN_200_1
  log_model: True
  log_every_n_steps: 100
  validation_log_every_n_steps: 500

hardware:
  num_workers: 0 # modify for cpu requested on SLURM, typically I use 11
  precision: 16-mixed # 32-mixed is unstable, use 32 if memory allows
  accelerator: "gpu"
  devices: [1]
  strategy: "auto" # user "ddp_find_unused_parameters_true" for SLURM

invariant:
  _target_: "ClimatExML.mlclasses.InvariantData"
  lr_shape:
    - 7 # lr covariates
    - 32 # x size
    - 32 # y size
  hr_shape:
    - 1 # hr covariates (predictands)
    - 256 # x size
    - 256 # y size
  hr_invariant_shape:
    - 1 # hr invariant covariates
    - 256
    - 256
  hr_invariant_paths: 
    - /home/nadiyashore/data/topo/hr_topography_norm_fixed_256.pt
  lr_invariant_paths:
    - /home/nadiyashore/data/topo/lr_topography_norm_fixed_256.pt

train_data:
  _target_: "ClimatExML.mlclasses.InputVariables"
  lr_paths:
    - ${oc.env:DATA_DIR}/train/pr/lr/*.pt
    - ${oc.env:DATA_DIR}/train/tas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/uas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/vas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/ps/lr/*.pt
    - ${oc.env:DATA_DIR}/train/cape/lr/*.pt
    # - ${oc.env:DATA_DIR}/train/sc/lr/*.pt
    # - ${oc.env:DATA_DIR}/train/RH/lr/*.pt
  hr_paths:
    - ${oc.env:DATA_DIR}/train/pr/hr/*.pt
    # - ${oc.env:DATA_DIR}/train/tas/hr/*.pt
    # - ${oc.env:DATA_DIR}/train/uas/hr/*.pt
    # - ${oc.env:DATA_DIR}/train/vas/hr/*.pt
    # - ${oc.env:DATA_DIR}/train/RH/hr/*.pt

validation_data:
  _target_: "ClimatExML.mlclasses.InputVariables"
  lr_paths:
    - ${oc.env:DATA_DIR}/validation/pr/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/tas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/uas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/vas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/ps/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/cape/lr/*.pt
    # - ${oc.env:DATA_DIR}/validation/sc/lr/*.pt
  hr_paths:
    - ${oc.env:DATA_DIR}/validation/pr/hr/*.pt
    # - ${oc.env:DATA_DIR}/validation/tas/hr/*.pt
    # - ${oc.env:DATA_DIR}/validation/uas/hr/*.pt
    # - ${oc.env:DATA_DIR}/validation/vas/hr/*.pt
    # - ${oc.env:DATA_DIR}/validation/RH/hr/*.pt

# emulator:
#   emulation_data:
#     _target_: "ClimatExML.mlclasses.InputVariables"
#     lr_paths:
#       - ${oc.env:DATA_DIR}/validation/pr/lr/*.pt
#       - ${oc.env:DATA_DIR}/validation/tas/lr/*.pt
#       - "${oc.env:DATA_DIR}/test/uas/lr/*.pt"
#       - "${oc.env:DATA_DIR}/test/vas/lr/*.pt"
#       - ${oc.env:DATA_DIR}/validation/RH/lr/*.pt
#   output_variables:
#     - uas
#     - vas
#   ensemble_size: 2