# Declare model trainer type, current options: cnn, wgan
trainer: wgan
resume_from_checkpoint: null

hyperparameters:
  # Adam Optimizer
  learning_rate: 0.00025 # default: 0.00025
  b1: 0.9
  b2: 0.99
  gp_lambda: 10
  alpha: 50.0
  n_critic: 5
  max_epochs: 300
  noise_injection: True
  batch_size: 8

tracking:
  # set COMET_API_KEY environment variable for online mode
  project_name: climatex
  workspace: bobby-payne
  save_dir: ${oc.env:OUTPUT_COMET_ZIP}
  experiment_name: Winds_for_seamus_Nov05
  log_model: True
  log_every_n_steps: 100
  validation_log_every_n_steps: 500

hardware:
  num_workers: 11 # modify for cpu requested on SLURM, typically I use 11
  precision: bf16-mixed # 16-mixed is unstable, use 32 if memory allows
  accelerator: "gpu"
  devices: -1
  strategy: "ddp_find_unused_parameters_true" # user "ddp_find_unused_parameters_true" for SLURM

invariant:
  _target_: "ClimatExML.mlclasses.InvariantData"
  lr_shape:
    - 5 # lr covariates
    - 32 # x size
    - 32 # y size
  hr_shape:
    - 2 # hr covariates (predictands)
    - 256 # x size
    - 256 # y size
  hr_invariant_shape:
    - 1 # hr invariant covariates
    - 256
    - 256
  hr_invariant_paths: 
    - ${oc.env:DATA_DIR}/invariant/topography/hr_invariant/topography.pt
  lr_invariant_paths:
    - ${oc.env:DATA_DIR}/invariant/topography/lr_invariant/topography.pt

train_data:
  _target_: "ClimatExML.mlclasses.InputVariables"
  lr_paths:
    - ${oc.env:DATA_DIR}/train/ps/lr/*.pt
    - ${oc.env:DATA_DIR}/train/tas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/uas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/vas/lr/*.pt
  hr_paths:
    #- ${oc.env:DATA_DIR}/train/ps/hr/*.pt
    #- ${oc.env:DATA_DIR}/train/tas/hr/*.pt
    - ${oc.env:DATA_DIR}/train/uas/hr/*.pt
    - ${oc.env:DATA_DIR}/train/vas/hr/*.pt

validation_data:
  _target_: "ClimatExML.mlclasses.InputVariables"
  lr_paths:
    - ${oc.env:DATA_DIR}/validation/ps/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/tas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/uas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/vas/lr/*.pt

  hr_paths:
    #- ${oc.env:DATA_DIR}/validation/ps/hr/*.pt
    #- ${oc.env:DATA_DIR}/validation/tas/hr/*.pt
    - ${oc.env:DATA_DIR}/validation/uas/hr/*.pt
    - ${oc.env:DATA_DIR}/validation/vas/hr/*.pt

emulator:
  emulation_data:
    _target_: "ClimatExML.mlclasses.InputVariables"
    lr_paths:
      - ${oc.env:DATA_DIR}/validation/pr/lr/*.pt
      - ${oc.env:DATA_DIR}/validation/tas/lr/*.pt
      - "${oc.env:DATA_DIR}/test/uas/lr/*.pt"
      - "${oc.env:DATA_DIR}/test/vas/lr/*.pt"
  output_variables:
    - uas
    - vas
  ensemble_size: 2